.category {
  list-style-type: none;
  width: 90%;
  margin: 10px;
  padding: 20px;
}
.category li {
  margin-top: 5px;
}
.ib {
  display: inline-flex;
  height: 50px;
  font-size: large;
  text-align: center;
  justify-content: center;
  align-self: center;
  margin: 0px;
  padding: 0px;
}
.ib-10 {
  display: inline-flex;
  height: 50px;
  font-size: large;
  text-align: center;
  justify-content: center;
  align-self: center;
  margin: 0px;
  padding: 0px;
  width: 9%;
}
.ib-20 {
  display: inline-flex;
  height: 50px;
  font-size: large;
  text-align: center;
  justify-content: center;
  align-self: center;
  margin: 0px;
  padding: 0px;
  width: 19%;
}
.ib-30 {
  display: inline-flex;
  height: 50px;
  font-size: large;
  text-align: center;
  justify-content: center;
  align-self: center;
  margin: 0px;
  padding: 0px;
  width: 29%;
}
.ib-40 {
  display: inline-flex;
  height: 50px;
  font-size: large;
  text-align: center;
  justify-content: center;
  align-self: center;
  margin: 0px;
  padding: 0px;
  width: 39%;
}
.ib-50 {
  display: inline-flex;
  height: 50px;
  font-size: large;
  text-align: center;
  justify-content: center;
  align-self: center;
  margin: 0px;
  padding: 0px;
  width: 49%;
}
.ib-60 {
  display: inline-flex;
  height: 50px;
  font-size: large;
  text-align: center;
  justify-content: center;
  align-self: center;
  margin: 0px;
  padding: 0px;
  width: 59%;
}
.ib-70 {
  display: inline-flex;
  height: 50px;
  font-size: large;
  text-align: center;
  justify-content: center;
  align-self: center;
  margin: 0px;
  padding: 0px;
  width: 69%;
}
.ib-80 {
  display: inline-flex;
  height: 50px;
  font-size: large;
  text-align: center;
  justify-content: center;
  align-self: center;
  margin: 0px;
  padding: 0px;
  width: 79%;
}
.ib-90 {
  display: inline-flex;
  height: 50px;
  font-size: large;
  text-align: center;
  justify-content: center;
  align-self: center;
  margin: 0px;
  padding: 0px;
  width: 89%;
}
.ib-100 {
  display: inline-flex;
  height: 50px;
  font-size: large;
  text-align: center;
  justify-content: center;
  align-self: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.description-input {
  height: 200px;
  text-align: start;
}